@{
    ViewData["TITLE"] = "Deletar ";
}


<div class="text-center">
    <h3>Realmente deseja apagar o contato?</h3>

    <a class="btn btn-outline-primary" asp-controller="Contato" asp-action="Index">Cancelar exclusão</a>
    <a class="btn btn-outline-danger" asp-controller="Contato" asp-action="Apagar">Confirmar exclusão</a>


</div>